@using Telehealth.UI.Extensions
<Dropdown CssClass="@CssClass"
		  Data="@Providers"
		  PlaceholderText="@PlaceholderText"
		  ShowSelectedValues="@ShowSelectedValues"
		  TextFieldName="@TextFieldName"
		  ValueFieldName="@ValueFieldName"
		  @bind-SelectedValues="@SelectedProviders">
	<DisplayTemplate Context="tagContext">
		<div class="dxbl-scheduler-color">
			<TagButton CssClass="@ButtonCss(tagContext)"
				OnClick="@tagContext.RemoveTagAction"
				DisplayText="@tagContext.DataItem.ProviderName"
				/>
		</div>
	</DisplayTemplate>
</Dropdown>

@code {
	[Parameter] public string? CssClass { get; init; }
	[Parameter] public required IEnumerable<Schedule.ProviderDetails> Providers { get; set; }
	[Parameter] public required IEnumerable<Schedule.ProviderDetails> SelectedProviders { get; set; }
	[Parameter] public EventCallback<IEnumerable<Schedule.ProviderDetails>> SelectedProvidersChanged { get; set; }
	[Parameter, EditorRequired] public required string TextFieldName { get; init; }
	[Parameter, EditorRequired] public required string ValueFieldName { get; init; }
	[Parameter] public bool ShowSelectedValues { get; init; }

	private const string PlaceholderText = "Choose a provider";

	private string ButtonCss(TagBoxTagDisplayTemplateContext<Schedule.ProviderDetails> context)
	{
		List<string> css = [context.DataItem.BackgroundCssClass, context.DataItem.TextCssClass];

		return css.FromArray();
	}
}
